body {
    background: #dfe2e4;
    color: #333333;
    margin-top: 5rem;
}
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
  
ul {
  margin: 0;
}
  
.bg-steel {
  background-color: #26333e;
}
  
.site-header .navbar-nav .nav-link {
  color: #b9cad5;
}
  
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
  
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.footer a {
  color: #b9cad5;
}

.footer a:hover {
  color: #ffffff;
}


/* Index page */

.pagination a {
  margin-left: 10px;
}

.img-flash {
  background-color: #a78471;
}

.author {
  color: white;
  margin: 8px;
  text-transform: uppercase;
}

.post-link:hover {
  text-decoration: none;
}

.post-link h2:hover {
  color: #17a2b8;
}

.post-link p:hover {
  color: #666666;
}


/* Post_detail page */

.post-title {
  margin-top: 20%;
  margin-left: 5%;
  color: #ffffff;
}

.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-text {
  background-color: #445261;
  color: white;
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  transform: skew(10deg);
  z-index: 100;
}

.bg-color {
  background-color: transparent;
  border: 0;
}

/* Login page */

.link {
  color: #17a2b8;
}

.link:hover,
.link:active {
  color: #a78471;
  text-decoration: none;
}

.btn-like {
  color: #E84610;
  border: none;
  background: transparent;
}

.btn-like:hover,
.btn-like:active {
  color: #E84610;
  border: none;
  background: transparent;
}