{% extends "base.html" %}

{% block title %}Profile Page{% endblock title %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ user.username }}</h1>
                <p class="post-subtitle">{{ user.email }}</p>
                <p class="post-subtitle">{{user.profile.description}}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="https://images.pexels.com/photos/1181243/pexels-photo-1181243.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1g" alt="Profile image" style="width: 100%;">
            </div>
        </div>
    </div>
</div>

{% endblock content %}